* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #b978f3cc;
}

.container {
    background-color: #ffffff;
    font-size: 16px;
    padding: 3em 2.8em;
    width: 90vw;
    max-width: 32em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
}

.search-container {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;

}

.search-container input {
    font-size: 1em;
    padding: 0.6em;
    outline: none;
    border: none;
    border-bottom: 2px solid #0f0f0f;
}

.search-container button {
    font-size: 1em;
    background-color: #b978f3cc;
    border: none;
    box-shadow: 3px 3px #49315ecc;
    font-weight: 600;
    border-radius: 0.3em;
}

img {
    display: block;
    width: 50%;
    margin: 1em auto 0 auto;

}

.details {
    background-color: #b978f3cc;
    position: relative;
    margin: 1em 0 0 0;
    text-align: center;
    padding: 0.6em 0;
}

.details h2 {
    font-size: 1.2em;
    font-weight: 600;
}

.details h4 {
    font-size: 1em;
    font-weight: 400;
}

#showrecipe {
    font-size: 1em;
    position: relative;
    left: 75%;
    padding: 0.5em 0.3em;
    background-color: #b978f3cc;
    border: none;
    box-shadow: 3px 3px #49315ecc;
    top: 1.5em;
    width: 30%;
    border-radius: 0.3em;
    font-weight: 600;
}

#recipe {
    position: absolute;
    background-color: #ffffff;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 0.6em;
    display: none;
}

#recipe pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2.5em 1.2em 1.2em 1.2em;
    font-size: 0.92em;
    color: #303040;
}

#hiderecipe {
    font-size: 1em;

    background-color: #b978f3cc;
    border: none;
    margin-top: 5%;
    margin-left: 90%;
    width: 1.8em;
    height: 1.8em;

}

ul {
    font-size: 1em;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8em 2em;
    padding: 1.2em 1em 1em 1.2em;
    color: #303040;
    text-transform: capitalize;
    margin-left: 1em;
    margin-right: 1em;
}

h3 {
    text-align: center;
    margin-top: 1.8em;
    color: #202030;
}

@media screen and (max-width: 500px) {
    .container {
        font-size: 14px;
    }
}